.user-details-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: orangered;
    padding: 16px;
    min-height: 188px;

    img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    height: 120px;
    gap: 8px;
}

h2 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.user-details-address {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
}

.menu-icon{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}