.menu-icon{
  cursor: pointer;
}

.example-container {
  height: 100vh;
}

.sidenav{
  width: 300px;
  height: 100vh;
}

.logo-container{
  border-bottom: 1px solid rgba(0,0,0,0.4);
    padding: 0 16px;
    display: flex;
    align-items: center;
    min-height: 63px;
}

.sidenav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidenav li {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.router-container {
  padding: 16px 0 16px 56px;
}
