button {
    position: absolute;
    bottom: 56px;
    right: 56px;
}

table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        border-bottom: 1px solid #ddd;
    }

    th:first-child {
        border-radius: 12px 0 0 0;
    }

    th:last-child {
        border-radius: 0 12px 0 0;
    }
}