button {
    position: absolute;
    bottom: 56px;
    right: 56px;
}

table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        border-bottom: 1px solid #ddd;

        &:first-child {
            border-radius: 12px 0 0 0;
        }

        &:last-child {
            border-radius: 0 12px 0 0;
        }
    }

    tr {
        border-bottom: 1px solid #ddd;
        cursor: pointer;

        &:first-child {
            cursor: default;
        }

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: #e0e0e0;
        }

        &:last-child:hover {
            td:first-child {
                border-radius: 0 0 0 12px;
            }

            td:last-child {
                border-radius: 0 0 12px 0;
            }
        }
    }
}